body {
    background-image: url('https://www.vangoghgallery.com/img/starry_night_full.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }