@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

body { 
  font-family: Rubik Doodle Shadow;
  background-color:rgb(229, 212, 255);
  margin: auto;
}

nav {
  background-color: rgb(0, 0, 0);
  position: sticky;
  top: 0;
  display: flex;
  justify-items: center;
  border-radius: 10px;
}

nav a {
  text-decoration: none;
}

li {
  color:white;
  list-style: none;
  padding: 5px;
  display: inline-block;
  padding-right: 10px;
}

nav a:link {
  color: rgb(255, 255, 255);
}

nav a:visited {
  color: rgb(143, 135, 231);
}

nav a:hover {
	border-bottom: 3px solid rgb(208, 162, 247);
	padding-bottom:  5px;
	cursor: pointer;
}

nav a:active {
  color: #9f9ff3;
}

a:link {
  color: #c25bd9;
}

a:visited {
  color: #758fec;
}

a:hover {
  color: #c986c9;
}

a:active {
  color: #0000FF;
}

ul {
  text-decoration: none;
}

h1 {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 50px;
}

h3,h2 {
  font-family: 'Courier New', Courier, monospace;
}

h4{
  font-family: Abril Fatface;
}

h4:nth-child(odd) {
  background: white;
}

h4:nth-child(even) {
  background: #eec2ec;
}


a {
  color: rgb(187, 90, 187);
}

img{ 
  margin-left:auto;
  margin-right: auto;
  display: block;


}

main{
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


